<div class="text-container">
  <form class="input-form" name="myForm" method="post" action = "/submit">
      <div class="form-row-1">
          <p id="typing-text">I want to find an empty room on</p>
          <div class="fade-in">
              <label for="date-input"></label>
              <input type="date" class="form-control" name="date" id="myDate" required>
          </div>
          <p id="typing-text-1"> at</p>
      </div>
      <div class="form-row-2">
          <div class="fade-in-1">
              <label for="time-input"></label>
              <input type="time" class="form-control" name="time" id="myTime" required>
          </div>
          <p id="typing-text-2">and near</p>
          <div class="fade-in-2">
              <label for="place-select"></label>
              <select class="form-control" name="building_id" id="myPlace" required>
                  <option class="selector" value="">this building</option>

                  <% Building.all.where.not(xcoord: '').order(:name).each do |building| %>
                    <option class="<%= building.id %>" value="<%= building.id %>"><%= building.name %></option>
                <% end %>
              </select> 
          </div>
      </div>
      <div class="su">
          <input type="submit" onclick="scrollDown()" class="sub" value="Submit" id="myBtn"> 
      </div>
  </form>
</div>
